services:
  web:
    build: .
    ports:
      - "33099:3099"
    restart: unless-stopped
    environment:
      - RAILS_ENV=production
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
      - SOLID_QUEUE_IN_PUMA=1
    volumes:
      - type: bind
        source: ./app/posts
        target: /rails/app/posts
      - type: bind
        source: ./app/reviews
        target: /rails/app/reviews
      - type: bind
        source: ./app/assets/images
        target: /rails/app/assets/images
      - type: bind
        source: ./storage
        target: /rails/storage
