<h2>Confirm your subscription</h2>
<p>Please confirm your subscription to blog.carter2099.com by clicking the link below:</p>
<p><%= link_to "Confirm my subscription", confirm_subscriber_url(token: @subscriber.token) %></p>
