<h2>Hello World</h2>

<p>
I occasionally do things
</p>

<p>
Most recent post: <%= link_to @post.title, @post %>
</p>

<p>
Most recent review: <% if @review %><%= link_to @review.title, @review %><% else %>None yet<% end %>
</p>

<h2>Other Stuff</h2>
<p>
  <ul>
    <li>GitHub: <a target="_blank" href="https://github.com/carter2099/">https://github.com/carter2099/</a></li>
  </ul>
</p>
