/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
    --link-color: #0000EE;
    --code-bg-color: #DFDFDF;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 1.5;
}

.header {
    padding-bottom: 0.5rem;
}

nav {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px dotted;
}

nav a {
    padding-right: 0.5rem;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: var(--link-color);
}

nav a:hover {
    text-decoration: underline;
}

.content {
    /*
    padding-top: 0.2rem;
    */
}

.posts-index * {
    display: block;
    width: fit-content;
}

.posts-index a {
    color: var(--link-color);
    padding-bottom: 0.5rem;
}

.post-created-date {
    opacity: 0.7;
    font-family: monospace;
}

code {
    display: block;
    padding: 0.5rem;
    background-color: var(--code-bg-color);
}

form * {
    display: block;
}

form  label {
    font-weight: bold;
    padding-top: 0.5rem;
    margin-bottom: 0.1rem;
}

form input {
    margin-bottom: 0.5rem;
}

#post_title {
    width: 300px;
}

.post-upload-button {
    margin-top: 2rem;
    width: fit-content;
}

/* Just the email and password inputs */
.login-input {
    width: 300px;
}

footer {
    margin-top: 40px;
    border-top: 2px dotted;
}

footer form {
    display: inline-block;
    margin-right: 0.5rem;
}
